
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



:root {
    --primary-color: #00b167; 
    --secondary-color: #24b47e;
}


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Inter",sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #f5f5f5;
}

/*logo*/
.logo{
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.logo-initial{
    color: white;
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 4px;
    margin-right: 10px;
}

/*Nav menu */
.nav-menu ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-menu ul li{
    margin: 0 15px;    
}

.nav-menu ul li a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.nav-menu ul li a:hover{
    color: var(--primary-color)
}

/*contacto y redes*/
.contact{
    display: flex;
    align-items: center;
}

.social-icons a{
    margin: 0 10px;
}

.primary-btn{
    background-color: var(--primary-color);
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 4px;
    margin-left: 20px;
    font-weight: bold;
    border: 1px solid  var(--primary-color);
}
.primary-btn:hover{
    background-color: transparent;
    color:  var(--primary-color);

}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 60px;
    
    
}

.content {
    max-width: 600px;
}

h1 {
    font-size: 3rem;
    color: #333;
    margin-bottom: 20px;
}

h1 span {
    color: var(--secondary-color);
}

p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 40px;
}

.button {
    padding: 15px 30px;
    background-color: var(--secondary-color);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #1a8d5e;
}

.profile-photo img {
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.details {
    flex: 1;
    padding: 0 20px;
}

.details h2 {
    color:  var(--primary-color);
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.details p {
    margin-bottom: 20px;
}

.contact-btn,
.cv-btn {
    display: inline-block;
    margin-right: 20px;
    padding: 10px 20px;
    background-color: #24b47e;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.contact-btn:hover,
.cv-btn:hover {
    background-color:  var(--primary-color);
}

.container {
    position: relative;
}

.profile-photo {
    position: relative;
}
/*statistics*/
.statistics {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    display: flex;
    gap: 40px;
    background: rgba(255, 255, 255, 0.8); 
    padding: 10px;
    border-radius: 10px; 
}
.statistics .stat h3 {
    color:  var(--primary-color);
    font-size: 2rem;
    margin-bottom: 10px;
}
/*SERVICES*/
.services {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    
}

.services h2 {
    color:  var(--primary-color);
    font-size: 2.5rem;
    margin-bottom: 40px;
}


.service-cards {
    display: flex;
    justify-content: space-between;
}

.service-card {
    background-color: #f7f9fc;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
    transition: .2s all ease;
}

.service-card:hover{
    background-color: var(--secondary-color);   
    
}
.service-card h3 {
    color:  var(--primary-color);
    margin-bottom: 20px;
}

.service-card:hover h3 {
    color: white;   
}
.service-card p {
    color: #555;
}

/*footer*/

footer {
    background-color:  var(--primary-color);;
    color: white;
    padding: 50px 0;
    margin-top: 50px;
   
}

.contact-section {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.contact-info {
    flex: 1;
    text-align: left;
}

.contact-info h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.info-box {
    background-color: #ffffff20;
    padding: 20px;
    border-radius: 10px;
}

.info-box p {
    margin: 10px 0;
}

.contact-form {
    flex: 1;
}

.contact-form h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form input, .contact-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.contact-form textarea {
    resize: none;
    height: 100px;
}

.contact-form button {
    padding: 15px;
    border: none;
    background-color: white;
    color:  var(--primary-color);
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #ffffff80;
}

.footer-bottom {
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
    border-top: 1px solid #ffffff40;
}

.footer-bottom p {
    margin: 0;
    font-size: 0.9rem;
}